@{
    Page.Title = "Forgot Password";
    //Layout = "Your Layout Page goes here";
}

<style type="text/css">
    .frm p {
        font-family: roboto, sans-serif;
        font-weight: 200;
        font-size: 17px;
        line-height: 20px;
        padding-bottom: 4px;
        width: 327px;
        display: block;
        margin: 0 auto;
    }
</style>

<link rel='shortcut icon' type='image/x-icon' href='../img/favicon_package/favicon.ico' />
<link rel="stylesheet" href="https://use.typekit.net/rvt1xma.css">

<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="../css/main.css">
<script src="../js/jquery-3.4.1.min.js"></script>
<script src="../js/global.js"></script>

<script>try { Typekit.load({ async: true }); } catch (e) { }</script>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600" rel="stylesheet">

<div>
    <div class="grid-half form-side">
        <div class="frm" style="width: 327px; margin: 0 auto;">

            <div class="sign-form-logo"></div>

            <h1>Forgot Password</h1>

            <p style="padding: 20px 0 50px 0; width: 270px; text-align: center;">Enter your email address below and we will send you a link with the instructions to follow</p>

            <form class="form-dialog" runat="server">
                <label for="<%= this.txtEmail.ClientID %>" class="sr-only">Email</label>
                <input ID="txtEmail" CssClass="txt" TextMode="Email" placeholder="Email Address" required="true" autofocus="true" />

                <Button runat="server" ID="btnSubmit" CssClass="btn" OnClick="btnSubmit_OnClick" Text="Submit Request" />
            </form>
        </div>
        <p class="forgot-pass"><a href="login.cshtml">Return to Login</a></p>
    </div>
</div>