@{
    Page.Title = "Login";
    //Layout = "Your Layout Page goes here";
}

@*@using System;
@using TestMixArch.Account;
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using System.Web.Mvc.Razor;*@
@using TestMixArch.Views.Login;


@Page
@Model LoginClassView
<link rel='shortcut icon' type='image/x-icon' href='../img/favicon_package/favicon.ico' />
<link rel="stylesheet" href="https://use.typekit.net/rvt1xma.css">

<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="../css/main.css">
<script src="../js/jquery-3.4.1.min.js"></script>
<script src="../js/global.js"></script>

<script>try { Typekit.load({ async: true }); } catch (e) { }</script>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600" rel="stylesheet">
<div>
    <div class="bg"></div>
</div>
<!-- Content Body -->
@using(Html.BeginForm("Login", "Account"))
{
<div class="content-body sign-view">
    <div class="grid-container">
        <!--  Col 1  -->
        <div class="grid-half">
            <div class="sign-cta">
                <div class="sign-cta-logo"></div>
                <p class="sign-cta-content">You have been<br> invited to participate<br> in a <span>smarter way to work.</span></p>
                <a href="#" class="sign-cta-vid"><span>See how it works.</span></a>
            </div>
        </div>
        <!-- Col 2 -->
        <div class="grid-half form-side">
            <div class="sign-form-logo"></div>
            <h1>Sign In</h1>
            <form>
                <label for="email">Email</label>
                <@Html.TextBoxFor()
                <@Html.TextBox("Email")>
                    <label for="password">Password</label>
                    <@Html.TextBox("password")>
                        @*<button type="submit">Sign In</button>*@
                        <@Html.ActionLink("Login", )>
            </form>

            <p class="forgot-pass"><a href="forgot-password.cshtml">Forgot your password?</a></p>
            <p class="signup-link">Don't have an account? <a href="#">Sign up</a></p>

        </div>
    </div>
    <p class="copy">&copy;2019 TMI Solutions, LLC    All rights reserved.   Privacy Policy   Terms and Conditions</p>
</div>
}